* {
    border: none;
    border-radius: 0;
    font-family: RobotoMono Nerd Font;
    font-size: 14px;
    font-weight: 500;
  }
  
  window#waybar {
    background-color: rgba(48, 52, 70, 0.0);
    color: #303446;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-bottom: solid 0px #3c3836;
  }
  
  window#waybar.hidden {
    opacity: 0.2;
  }
  
  #workspaces button {
    padding: 0 5px;
    color: #ebdbb2;
    background: #303446;
    border-radius: 25px;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  #workspaces button.focused {
    background-color: #ebdbb2;
    color: #282828;
    border-bottom: none;
  }
  
  #workspaces button.urgent {
    background-color: #cc241d;
  }
  #workspaces button:hover {
    background:#F2D5CF;
    /*background-color: #cc241d;*/
    color: #303446;
    animation: tb_hover 5s ease-in-out 1;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #taskbar button {
      box-shadow: none;
      text-shadow: none;
      padding: 0px;
      border-radius: 9px;
      margin-top: 3px;
      margin-bottom: 3px;
      margin-left: 0px;
      padding-left: 3px;
      padding-right: 3px;
      margin-right: 0px;
      color: @wb-color;
      animation: tb_normal 20s ease-in-out 1;
  }
  
  #taskbar button.active {
      background: #BABBF1;
      color: @wb-act-color;
      margin-left: 3px;
      padding-left: 12px;
      padding-right: 12px;
      margin-right: 3px;
      animation: tb_active 5s ease-in-out 1;
      transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #taskbar button:hover {
      background: #F2D5CF;
      color: #282828;
      animation: tb_hover 5s ease-in-out 1;
      transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  widget > * {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .modules-left > widget > * {
    margin-left: 12px;
    margin-right: 12px;
  }
  
  .modules-left > widget:first-child > * {
    margin-left: 6px;
  }
  
  .modules-left > widget:last-child > * {
    margin-right: 18px;
  }
  
  .modules-right > widget > * {
    padding: 0 12px;
    margin-left: 0;
    margin-right: 0;
    color: #ebdbb2;
  }
  
  .modules-right > widget:first-child > * {
    border-radius: 5px 0 0 5px;
  }
  
  .modules-right > widget:last-child > * {
    border-radius: 0 5px 5px 0;
    margin-right: 6px;
  }
  
  #mode {
    background: transparent;
    color: #fb4934;
  }
  
  #pulseaudio,
  #backlight,
  #temperature,
  #battery,
  #clock

  #pulseaudio {
      color: #A6D189;
      background: #303446;
      border-radius: 25px;
      margin-left: 3px;
      margin-right: 3px;
  }
  
  #backlight {
      color: #458588;
      background: #303446;
      border-radius: 25px;
      margin-left: 3px;
      margin-right: 3px;
  }
  
  #temperature {
      color: #cc241d;
      background: #303446;
      border-radius: 25px;
      margin-left: 3px;
      margin-right: 3px;
  }
  
  #clock {
      color: #C6D0F5;
      background: #303446;
      border-radius: 25px;
      margin-left: 3px;
  }

  #tray {
      background: #303446;
      border-radius: 25px;
      padding-left:  8px;
      padding-right: 8px;
  }
  
  @keyframes blink {
    to {
      color: #ebdbb2;
       }
  }
  
  label:focus {
    background-color: #282828;
  }
  
  tooltip {
    border-radius: 5px;
    background: #303446;
  }
  
  tooltip label {
    color: #ebdbb2;
  }
